body {
    margin: 0;
    padding: 5px;
    font-family: sans-serif;
    font-size: 11px;
    user-select: none;
}

p.infoText {
    color: black;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 5px 5px 0;
}

p#infoTextReminder {
    text-align: center;
    padding: 5px;
}

div#infoBox {
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;

    display: none;
}

#extraItems {
    /* Main info */
    border-style: solid;
    margin: 1px;
    background-color: white;
    width: 150px;
    padding: 5px;

    /* Items in column */
    display: flex;
    flex-direction: column;

    /* Top-left fixed position during scroll */
    position: fixed;
    top: 0;
    left: 0;
}

#dlButton {
    margin-bottom: 5px;
}

svg#graph {
    max-width: 100%;
    height: auto;
}

circle#nodeNormLeg, circle.nodeNorm {
    /*fill: orange;*/
    fill: #ED7D31;
}

circle#nodeLeafLeg, circle.nodeLeaf {
    /*fill: deepskyblue;*/
    fill: #31A1ED;
}

circle#nodeCollLeg, circle.nodeColl {
    /*fill: lawngreen;*/
    fill: #92D050;
}

circle#activeNodeLeg {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    stroke-linejoin: round;
}

#activeNode text, text#activeNodeLeg   {
    stroke: lawngreen;
    stroke-width: 3;
    stroke-linejoin: round;
}

text {
    paint-order: stroke;
    stroke: white;
    stroke-width: 3;
    stroke-linejoin: round;
}

path {
    fill: none;
    stroke: #555555;
    stroke-opacity: 0.4;
    stroke-width: 1.5;
}