body {
    margin: 0;
    padding: 5px;
    font-family: sans-serif;
    font-size: 11px;
    user-select: none;
}

/* Top-left tools settings */
#extraItems {
    /* Main info */
    border-style: solid;
    margin: 1px;
    background-color: ghostwhite;
    width: 150px;
    padding: 5px;

    /* Items in column */
    display: flex;
    flex-direction: column;

    /* Top-left fixed position during scroll */
    position: fixed;
    top: 0;
    left: 0;
}

#dlButton {
    margin-bottom: 5px;
}

/* Main graph settings */
svg#graph {
    max-width: 100%;
    height: auto;
}

/* Node circles colors */
circle#nodeNormLeg, circle.nodeNorm {
    /*fill: orange;*/
    fill: #ED7D31;
}

circle#nodeLeafLeg, circle.nodeLeaf {
    /*fill: deepskyblue;*/
    fill: #31A1ED;
}

circle#nodeCollLeg, circle.nodeColl {
    /*fill: lawngreen;
    fill: #92D050;*/
    fill: #BC5610;
}

circle#activeNodeLeg {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    stroke-linejoin: round;
}

/* Text colors */
text {
    paint-order: stroke;
    stroke: white;
    stroke-width: 3;
    stroke-linejoin: round;
}

#activeNode text.nodeLabel, text#activeNodeLeg   {
    stroke: lawngreen;
}

#iBox text {
    stroke: none;
    stroke-width: 0;
}

/* Path colors */
path {
    fill: none;
    stroke: #555555;
    stroke-opacity: 0.4;
    stroke-width: 1.5;
}

path.activePath {
    stroke: lawngreen;
    stroke-opacity: 0.7;
    stroke-width: 2;
}

/* InfoBox settings */
rect#iBoxBg {
    fill: ghostwhite;
    stroke-width: 2;
    stroke: black;
}